@import url(STYLES/header.css);
:root{
--cor-de-fundo: #ffffff;
--cor-cabecalho: #139f00;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem, .container_frase{
    padding: 5em;   
    }